<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<body>

<p>Going to connect to the WebSocket at /endpoint. Check Console</p>

<div th:text="${roomName}"></div>
<div th:if="${msgRoom}">
      <div th:text="${msgRoom}"></div>
</div>

<span id=username th:text="${#authentication.principal.username}"></span>
<input id="msg" type="text">
<button onclick="ss()">Send</button>
<div id="blank"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript">

      var username = document.querySelector('#username').innerText;
      let pathArr = window.location.pathname.split('/');
      let roomId = pathArr[pathArr.length - 1]

      console.log('username : ' + username);
      console.log('roomId : ' + roomId);

      var webSocket = new WebSocket("ws://localhost:8080/ws/chat");
      var client = Stomp.over(webSocket);
      console.log(client);

      client.connect({}, function() {
            client.subscribe("/sub/chat/room/" + roomId, function (chat) {
                  var content = JSON.parse(chat.body);

                  var writer = content.writer;

                  let input = document.querySelector('#blank');

                  let span = document.createElement('span');
                  span.innerHTML = writer + ' : ' + content.message + ' </br>';
                  input.appendChild(span);
            });
            client.send("/pub/enter", {}, JSON.stringify({'roomId': roomId, 'writer': username}));
      });



<!--      webSocket.onopen = function(message) {-->
<!--            processOpen(message);-->
<!--      };-->
<!--      webSocket.onmessage = function(message) {-->
<!--          processMessage(message);-->
<!--      };-->
<!--      webSocket.onclose = function(message) {-->
<!--          processClose(message);-->
<!--      };-->
<!--      webSocket.onerror = function(message) {-->
<!--          processError(message);-->
<!--      };-->


<!--      function processOpen(message) {-->
<!--          console.log("JS: Server Connected... "+message);-->
<!--      }-->
<!--      function processMessage(message) {-->
<!--          console.log("Getting a mess: "+message);-->
<!--          console.log("Getting a mess: "+message.data);-->
<!--      }-->
<!--      function processClose(message) {-->
<!--          console.log("JS: Client disconnected... "+message);-->
<!--      }-->
<!--      function processError(message) { //-->
<!--          console.log("Error occured: "+message);-->
<!--      }-->

      function ss() {
          let msg = document.getElementById("msg");

<!--          console.log(msg.value);-->
<!--          webSocket.send(`{-->
<!--            "messageType": "ENTER",-->
<!--            "roomId": "roomName",-->
<!--            "sender":"fuck",-->
<!--            "message":"fuckkkkkkkkk"-->
<!--          }`);-->

            client.send("/pub/comm/message", {}, JSON.stringify({'roomId': roomId, message:msg.value, writer: username}));
      }
</script>

</html>