<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/common.css}">
</head>

<body>
  <button th:onClick="|location.href='@{/}'|">home</button>
  <div th:object="${pagination}">
    <table border="1">
      <thead>
      <tr>
        <th>title</th>
        <th>writerId</th>
        <th>좋아요 수</th>
        <th>viewCnt</th>
        <th>createdAt</th>
        <th>updatedAt</th>
        <th>content</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td th:text="${board.title}"></td>
        <td th:text="${board.writerId}"></td>
        <td th:text="${heartNums}"></td>
        <td th:text="${board.viewCnt}"></td>
        <td th:text="${board.createdAt}"></td>
        <td th:text="${board.updatedAt}"></td>
        <td th:text="${board.content}"></td>
      </tr>
      </tbody>
    </table>

    <div th:if="${editPermission}">
      <button th:onClick="|location.href='@{/boards/edit/{boardId}(boardId=${board.id})}'|">수정하기</button>
      <form action="" th:action="@{/boards/delete/{boardId}(boardId=${board.id})}" th:method="post">
        <button type="submit">삭제하기</button>
      </form>
    </div>

    <form th:action="@{|/heart/${board.id}|(page=*{page})}" method="post" th:if="${member}">
      <div th:text="${heart}"></div>
      <button th:if="!${heart}">좋아요</button>
      <button th:if="${heart}">안좋아요</button>
    </form>

    </br>

    <form th:action="@{|/reply/${board.id}|(page=*{page})}" method="post">
      <label for="content"></label>
      <input type="text" th:field="${reply.content}">
      <button type="submit">댓글 입력</button>
    </form>

    </br>

    <table border="1">
      <thead>
        <tr>
          <th>replyer</th>
          <th>content</th>
          <th>createdAt</th>
          <th>updatedAt</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="reply : ${replies}">
          <td th:text="${reply.replyer}"></td>
          <td th:text="${reply.content}"></td>
          <td th:text="${reply.createdAt}"></td>
          <td th:text="${reply.updatedAt}"></td>
        </tr>
      </tbody>
    </table>

    </br>

    <table border="1">
      <thead>
      <tr>
        <th>title</th>
        <th>writerId</th>
        <th>viewCnt</th>
        <th>createdAt</th>
        <th>updatedAt</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="board, boardStat:${boards}">
        <td th:classappend="${board.id} == __${boardIdx}__ ? page"><a href="" th:href="@{|/boards/${board.id}|(page=*{page})}" th:text="${board.title}"></a></td>
        <td th:text="${board.writerId}"></td>
        <td th:text="${board.viewCnt}"></td>
        <td th:text="${board.createdAt}"></td>
        <td th:text="${board.updatedAt}"></td>
      </tr>
      </tbody>
    </table>
    <button th:if=*{prev} th:onClick="|location.href='@{/boards(page=*{startPage-1})}'|">이전</button>

    <th:block th:each="num : *{#numbers.sequence(startPage, endPage)}">
      <button th:text="${num}" th:onClick="|location.href='@{/boards(page=${num})}'|"
              th:classappend="${num} == *{page} ? page"></button>
    </th:block>
    <button th:if=*{next} th:onClick="|location.href='@{/boards(page=*{endPage+1})}'|">다음</button>
  </div>


<!--  <button th:onClick="|location.href='@{/boards}'|">이전으로</button>-->
</body>
</html>