<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>index</th>
                <th>writerId</th>
                <th>viewCnt</th>
                <th>createdAt</th>
                <th>updatedAt</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board, boardStat:${boards}">
                <td><a href="" th:href="@{|/boards/${board.id}|}" th:text="${boardStat.index}"></a></td>
                <td th:text="${board.writerId}"></td>
                <td th:text="${board.viewCnt}"></td>
                <td th:text="${board.createdAt}"></td>
                <td th:text="${board.updatedAt}"></td>
            </tr>
        </tbody>
    </table>
    <button th:onClick="|location.href='@{/boards/add}'|">글 쓰기</button>
    <button th:onClick="|location.href='@{/}'|">이전화면</button>
</body>
</html>