<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
    <button th:onClick="|location.href='@{/}'|">home</button>
    <div th:object="${pagination}">
        <table border="1">
            <thead>
                <tr>
                    <th>title</th>
                    <th>writerId</th>
                    <th>viewCnt</th>
                    <th>createdAt</th>
                    <th>updatedAt</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board, boardStat:${boards}">
                    <td><a href="" th:href="@{|/boards/${board.id}|(page=*{page})}" th:text="${board.title}"></a></td>
                    <td th:text="${board.writerId}"></td>
                    <td th:text="${board.viewCnt}"></td>
                    <td th:text="${board.createdAt}"></td>
                    <td th:text="${board.updatedAt}"></td>
                </tr>
            </tbody>
        </table>
        <button th:if=*{prev} th:onClick="|location.href='@{/boards(page=*{startPage-1})}'|">이전</button>

        <th:block th:each="num : *{#numbers.sequence(startPage, endPage)}">
            <button th:text="${num}" th:onClick="|location.href='@{/boards(page=${num})}'|"
                th:classappend="${num} == *{page} ? page"></button>
        </th:block>
        <button th:if=*{next} th:onClick="|location.href='@{/boards(page=*{endPage+1})}'|">다음</button>
    </div>


    <button th:onClick="|location.href='@{/boards/add}'|">글 쓰기</button>
    <button th:onClick="|location.href='@{/}'|">이전화면</button>
</body>
</html>