<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <table border="1">
    <thead>
    <tr>
      <th>title</th>
      <th>writerId</th>
      <th>viewCnt</th>
      <th>createdAt</th>
      <th>updatedAt</th>
      <th>content</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${board.title}"></td>
      <td th:text="${board.writerId}"></td>
      <td th:text="${board.viewCnt}"></td>
      <td th:text="${board.createdAt}"></td>
      <td th:text="${board.updatedAt}"></td>
      <td th:text="${board.content}"></td>
    </tr>
    </tbody>
  </table>
  <div th:if="${editPermission}">
    <button th:onClick="|location.href='@{/boards/edit/{boardId}(boardId=${board.id})}'|">수정하기</button>
    <form action="" th:action="@{/boards/delete/{boardId}(boardId=${board.id})}" th:method="post">
      <button type="submit">삭제하기</button>
    </form>
  </div>
  <button th:onClick="|location.href='@{/boards}'|">이전으로</button>
</body>
</html>