<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p><button th:onClick="|location.href='@{/}'|" >home</button></p>


<form th:action method="post" enctype="multipart/form-data" th:object="${memberEditDto}">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors}"
           th:text="${err}"></p>
    </div>
    <p><img th:src="${imageUrl}" alt=""></p>
    <p><input type="file" name="file"/></p>
    <p><span>닉네임 : <input type="text" th:field="*{nickname}"></span></p>
    <div th:errors="*{nickname}"></div>
    <p><button>변경</button></p>
</form>

</br>

<form th:action="@{/signout}" method="post">
    <button type="submit">삭제</button>
</form>
</body>
</html>