<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="" th:action th:object="${member}" method="post">
  <div>
    <span>회원 가입</span>
  </div>
  <div th:if="${#fields.hasGlobalErrors()}">
    <p th:each="err : ${#fields.globalErrors}"
       th:text="${err}"></p>
  </div>
    <label for="email">email</label>
    <input type="email" th:field="*{email}">
    <div th:errors="*{email}"></div>
  </div>
  <div>
    <button type="submit">이메일 보내기</button>
  </div>
</form>
<button th:onClick="|location.href='@{/}'|">이전으로</button>
</body>
</html>