<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" th:action th:object="${member}", method="post">
  <div th:if="${#fields.hasGlobalErrors()}">
    <p th:each="err : ${#fields.globalErrors}"
      th:text="${err}"></p>
  </div>
  <div>
    <label for="loginId">id</label>
    <input type="text" th:field="*{loginId}">
    <div th:errors="*{loginId}"></div>
  </div>
  <div>
    <label for="password">pw</label>
    <input type="password" th:field="*{password}">
    <div th:errors="*{password}"></div>
  </div>
  <div>
    <button type="submit">로그인</button>
  </div>
</form>
<button th:onClick="|location.href='@{/}'|">이전으로</button>
</body>
</html>